@import '@fontsource-variable/montserrat/wght.css';

/* See https://www.fluid-type-scale.com/calculate?minFontSize=16&minWidth=400&minRatio=1.15&maxFontSize=19&maxWidth=1920&maxRatio=1.333&steps=xs%2Csm%2Cbase%2Clg%2Cxl%2C2xl%2C3xl%2C4xl%2C5xl%2C6xl%2C7xl&baseStep=base&prefix=ds-text&useContainerWidth=true&includeFallbacks=true&useRems=true&remValue=16&decimals=2&previewFont=Inter&previewText=Almost+before+we+knew+it%2C+we+had+left+the+ground&previewWidth=1280 for customization */

/* For browsers that support clamp and container queries */
@supports (font-size: clamp(1rem, 1cqi, 1rem)) {
  :root {
    --ds-text-xs: clamp(0.76rem, -0.09cqi + 0.78rem, 0.67rem);
    --ds-text-sm: clamp(0.87rem, 0.02cqi + 0.86rem, 0.89rem);
    --ds-text-base: clamp(1rem, 0.2cqi + 0.95rem, 1.19rem);
    --ds-text-lg: clamp(1.15rem, 0.46cqi + 1.04rem, 1.58rem);
    --ds-text-xl: clamp(1.32rem, 0.83cqi + 1.12rem, 2.11rem);
    --ds-text-2xl: clamp(1.52rem, 1.36cqi + 1.18rem, 2.81rem);
    --ds-text-3xl: clamp(1.75rem, 2.11cqi + 1.22rem, 3.75rem);
    --ds-text-4xl: clamp(2.01rem, 3.14cqi + 1.23rem, 5rem);
    --ds-text-5xl: clamp(2.31rem, 4.58cqi + 1.17rem, 6.66rem);
    --ds-text-6xl: clamp(2.66rem, 6.55cqi + 1.02rem, 8.88rem);
    --ds-text-7xl: clamp(3.06rem, 9.24cqi + 0.75rem, 11.84rem);
  }
}
/* For browsers that don't support clamp or container queries */
@supports not (font-size: clamp(1rem, 1cqi, 1rem)) {
  :root {
    --ds-text-xs: 0.76rem;
    --ds-text-sm: 0.87rem;
    --ds-text-base: 1rem;
    --ds-text-lg: 1.15rem;
    --ds-text-xl: 1.32rem;
    --ds-text-2xl: 1.52rem;
    --ds-text-3xl: 1.75rem;
    --ds-text-4xl: 2.01rem;
    --ds-text-5xl: 2.31rem;
    --ds-text-6xl: 2.66rem;
    --ds-text-7xl: 3.06rem;
  }
  @media screen and (min-width: 1920px) {
    :root {
      --ds-text-xs: 0.67rem;
      --ds-text-sm: 0.89rem;
      --ds-text-base: 1.19rem;
      --ds-text-lg: 1.58rem;
      --ds-text-xl: 2.11rem;
      --ds-text-2xl: 2.81rem;
      --ds-text-3xl: 3.75rem;
      --ds-text-4xl: 5rem;
      --ds-text-5xl: 6.66rem;
      --ds-text-6xl: 8.88rem;
      --ds-text-7xl: 11.84rem;
    }
  }
}

:root {
  --font-family: 'Montserrat Variable', sans-serif;
}

@theme inline {
  --font-sans: var(--font-family);

  --text-xs: var(--ds-text-xs);
  --text-sm: var(--ds-text-sm);
  --text-base: var(--ds-text-base);
  --text-lg: var(--ds-text-lg);
  --text-xl: var(--ds-text-xl);
  --text-2xl: var(--ds-text-2xl);
  --text-3xl: var(--ds-text-3xl);
  --text-4xl: var(--ds-text-4xl);
  --text-5xl: var(--ds-text-5xl);
  --text-6xl: var(--ds-text-6xl);
  --text-7xl: var(--ds-text-7xl);
}
